<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= assetPath %>/images/app-icons/ios/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 mx-auto" style="padding-top: 25px;">
        <h1>设置密码</h1>

        <% if (error) { %>
            <div class="alert alert-warning">
                <%= error %>
            </div>
        <% } %>

        <p>从web访问Trilium之前，您需要先设置密码. 之后请用这个密码来登录.</p>

        <form action="set-password" method="POST">
            <div class="form-group">
                <label for="password">密码</label>
                <div class="controls">
                    <input id="password" name="password1" placeholder="" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="password">确认密码</label>
                <div class="controls">
                    <input id="password" name="password2" placeholder="" class="form-control" type="password">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success">设置密码</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Required for correct loading of scripts in Electron
    if (typeof module === 'object') {window.module = module; module = undefined;}
</script>

<link href="<%= assetPath %>/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>
